div{
    background: rgba(109, 62, 109, 0.664);
    color: white;
}
#quote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.movie{
    color: white;
    background: steelblue;
}
span#author{
    text-transform: uppercase;
}
#skills ol li {
   color: paleturquoise; 
}
#skills ul li {
    color: blanchedalmond;
}
 h3 + p{
     font-size: 2em;
 }
 p[id]{
     background: green;
 }
 #lorem{
     background: black;
     color: white;
     border: 1px dashed red;
     padding: 10px 30px; 
     margin: 5px auto;
 }
