
#quote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.movie{
    color: white;
    background: steelblue;
}
span#author{
    text-transform: uppercase;
}
#skills ol li {
   color: paleturquoise; 
}
#skills ul li {
    color: blanchedalmond;
}
h3 + p{
     font-size: 2em;
 }
 p[id]{
     background: green;
 }
 #lorem{
     background: white;
     color: white;
     box-shadow: 6px 6px  6px gray;
     padding: 10px 30px; 
     margin: 5px auto;
 }
 .see-me  ul  li:nth-child(2n) {
    color: blue;
    background: white;
 }
